
.background-img {
    /* background: url('../assets/CV23G-bg.png'); */
    /* position: relative; */
}

.background-img img {
    /* z-index: -10; */
    filter:brightness(70%);
   
    width: 85%;
    margin-left: 18rem;
    height: 100%;
}
.background-img h2 {
    font-family: "athelas", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    font-size: 2.5rem;
    color: aliceblue;
    position: absolute;
    z-index: 1;
    width: 25rem;
    top: 20rem;
    left: 25rem;
}
.background-img h4 {
    font-size: 1.8rem;
    color: aliceblue;
    position: absolute;
    z-index: 2;
    width: 30rem;
    top: 23.5rem;
    left: 25rem;
}